openapi: 3.0.0

info:
 version: '1.0'
 title: 'Redwood Web API'
 description: 'Web Resources Specification (A7) for Redwood'

servers:
- url: http://lbaw.fe.up.pt
- description: Production server

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Individual Profile'
 - name: 'M03: Book'
 - name: 'M04: Cart'
 - name: 'M05: Review'
 - name: 'M06: Wishlist'
 - name: 'M07: Order'
 - name: 'M08: Report'
 - name: 'M09: Static Pages'
 - name: 'M10: Notification'
 - name: 'M11: Home'


paths:

 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
            schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:

   get:
    operationId: R104
    summary: 'R104: Register Form'
    description: 'Provide new user registration form. Access: PUB'
    tags:
       - 'M01: Authentication'
    responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
             required:
                            - email
                             - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'


 /user/{id}:
   get:
     operationId: R201
     summary: 'R201: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'

 /user/{id}/edit:
   get:
     operationId: R202
     summary: 'R202: View edit form'
     description: 'Show the individual edit profile form. Access: USR'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show Edit Profile UI'

 /user/{id}/edit/confirm:
  post:
    operationId: R203
    summary: 'R203: Change user information'
    description: 'Processes the new user information. Access: USR'
    tags:
      - 'M02: Individual Profile'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              password:
                type: string
              cardNumber:
                type: integer
              securityNumber:
                type: integer


    responses:
        '302':
          description: 'Change the information in user profile'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful changed user profile'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed to change user profile.'
                  value: '/users/{id}'

 /user/{id}/purchase-history:
   get:
     operationId: R204
     summary: 'R204: View user purchase history'
     description: 'Show the individual user purchase history. Access: USR'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show ndividual user purchase history'



 /user/{id}/payment-methods:
   get:
     operationId: R205
     summary: 'R205: View user saved payment methods'
     description: 'Show the individual user saved payment methods. Access: USR'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show individual saved payment methods'


 /admin/users:
   get:
     operationId: R206
     summary: 'R206: View user profiles'
     description: 'Show list of user profiles. Access: ADM'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show list of user profiles'

 /admin/users/{id}:
   get:
     operationId: R207
     summary: 'R207: View individual user profile'
     description: 'Show individual user profile. Access: ADM'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show individual user profile'

 /admin/users/{id}/edit:
  post:
    operationId: R208
    summary: 'R208: Change user status'
    description: 'Change user status. Access: ADM'
    tags:
      - 'M02: Individual Profile'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              password:
                type: string
              isBlocked:
                type: bool


    responses:
        '302':
          description: 'Change the user status'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful changed user profile'
                  value: '/admin/users/{id}'
                302Failure:
                  description: 'Failed to change user profile.'
                  value: '/admin/users/{id}'



 /search/{id}:
   get:
     operationId: R301
     summary: 'R301: Search books API'
     description: 'Searches for books and returns the results as JSON. Access: PUB.'

     tags:
       - 'M03: Book'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: item
         description: Category of the books
         schema:
           type: string
         required: false
       - in: query
         name: classification
         description: Integer corresponding to the book review score
         schema:
           type: integer
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   category:
                     type: string
                   year:
                     type: string
                   type:
                     type: string
                   price:
                     type: number
                   author:
                     type: string

 api/books/viewBook/{id}:
  get:
    operationId: R302
    summary: 'R302: View book'
    description: 'Show an individual book. Access: USR'
    tags:
      - 'M03: Book'
    responses:
      '200':
        description: 'Ok. Show Book'

 /api/books/addBook:
  post:
    operationId: R303
    summary: 'R303: Add Book Action'
    description: 'Provide add book form submission. Access: ADM'
    tags:
      - 'M03: Book'

    requestBody:
      required: true
      content:
          application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   category:
                     type: string
                   year:
                     type: string
                   type:
                     type: string
                   price:
                     type: number
                   author:
                     type: string

    responses:
      '302':
        description: 'Redirect after adding book.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful add book. Redirect to bookpage.'
                value: '/api/books'
              302Failure:
                description: 'Failed add book. Redirect to bookpage.'
                value: '/api/books'

 /api/books/editBook:
  post:
    operationId: R304
    summary: 'R304: Edit Book Action'
    description: 'Edit book form submission. Access: ADM'
    tags:
      - 'M03: Book'

    requestBody:
      required: true
      content:
          application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   category:
                     type: string
                   year:
                     type: string
                   type:
                     type: string
                   price:
                     type: number
                   author:
                     type: string

    responses:
      '302':
        description: 'Redirect after editing book.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successfuly edited book. Redirect to bookpage.'
                value: '/api/books'
              302Failure:
                description: 'Failed to edit book. Redirect to bookpage.'
                value: '/api/books'

 /api/books/removeBook:
  post:
    operationId: R305
    summary: 'R305: Remove Book Action'
    description: 'Delete book form submission. Access: ADM'
    tags:
      - 'M03: Book'

    requestBody:
      required: true
      content:
          application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   category:
                     type: string
                   year:
                     type: string
                   type:
                     type: string
                   price:
                     type: number
                   author:
                     type: string

    responses:
      '302':
        description: 'Redirect after deleting book.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successfully remove book. Redirect to homepage.'
                value: '/api/books'
              302Failure:
                description: 'Failed remove book. Redirect to bookpage.'
                value: '/api/books'


 /users/{id}/cart:
  get:
    operationId: R401
    summary: 'R401: View user cart'
    description: 'Show the individual user cart. Access: USR'
    tags:
      - 'M04: Cart'
    responses:
      '200':
        description: 'Ok. Show Cart UI31'

 /api/books/viewBook/{id}/CartController.php:
  post:
    operationId: R402
    summary: 'R402: Add to Cart Action'
    description: 'Provide add to cart form submission. Access: USR'
    tags:
      - 'M04: Cart'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
              quantity:
                type: integer
            required:
                            - book name
                            - quantity

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful add to cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed add to cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'

 /users/{id}/cart/{bookid}/delete:
  post:
    operationId: R403
    summary: 'R403: Remove from Cart Action'
    description: 'Provide remove from cart form submission. Access: USR'
    tags:
      - 'M04: Cart'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed removal from cart. Redirect to user profile.'
                value: '/users/{id}/ViewCart'

 /users/{id}/cart/update:
  post:
    operationId: R404
    summary: 'R404: Update book quantity'
    description: 'Update book quantity in cart. Access: USR'
    tags:
      - 'M04: Cart'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
              quantity:
                type: integer
            required:
                            - book name
                            - quantity

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful update of cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed to update cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'

 /users/{id}/cart/checkout:
  post:
    operationId: R405
    summary: 'R405: Checkout Action'
    description: 'Accessess remove cart and gives an order number. Access: USR'
    tags:
      - 'M04: Cart'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful checkout. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed checkout. Redirect to user profile.'
                value: '/users/{id}/ViewCart'


 /api/books/viewBook/{id}/reviews:
  get:
    operationId: R501
    summary: 'R501: View item reviews'
    description: 'Show the Item reviews. Access: PUB'
    tags:
      - 'M05: Review'
    responses:
      '200':
        description: 'Ok. Show Item review UI52'


 /users/{id}/view-writtenReviews:
  get:
    operationId: R502
    summary: 'R502: View item written review'
    description: 'Show the written reviews. Access: USR'
    tags:
      - 'M05: Review'
    responses:
      '200':
        description: 'Ok. Show Item review UI34'

 /users/{id}/DeleteWrittenReview:
  post:
    operationId: R503
    summary: 'R503: Remove review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M05: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              review id:
                type: integer
            required:
                            - review id
    responses:
      '302':
        description: 'Redirect after processing remove review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from item reviews. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed removal from item reviews. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'

 /users/{id}/EditWrittenReview:
  post:
    operationId: R504
    summary: 'R504: Edit review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M05: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              review id:
                type: integer
              new comment:
                type: string
              new rating:
                type: integer
            required:
                            - review id

    responses:
      '302':
        description: 'Redirect after processing edit review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful review change. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed review change. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'

 /item/{id}/AddReview:
  get:
    operationId: R505
    summary: 'R505: View item reviews'
    description: 'Show the create review form. Access: USR'
    tags:
      - 'M05: Review'
    responses:
      '200':
        description: 'Ok. Show Item create review form UI52'
  post:
    operationId: R506
    summary: 'R506: Edit review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M05: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              comment:
                type: string
              rating:
                type: integer
            required:
                            - rating

    responses:
      '302':
        description: 'Redirect after processing add review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful review . Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed review. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'


 users/{id}/wishlist:
  get:
    operationId: R601
    summary: 'R601: View user wishlist'
    description: 'Show the individual user wishlist. Access: USR'
    tags:
      - 'M06: Wishlist'
    responses:
      '200':
        description: 'Ok. Show Wishtlist UI33'

 /api/books/viewBook/{id}/WishlistController.php:
  post:
    operationId: R602
    summary: 'R602: Add to Wishtlist Action'
    description: 'Provide add to wishlist form submission. Access: USR'
    tags:
      - 'M06: Wishlist'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing wishlist form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful add to wishlist. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed add to wishlist. Redirect to user profile.'
                value: '/users/{id}'

 users/{id}/wishlist/{bookid}/delete:
  post:
    operationId: R602
    summary: 'R602: Remove from Wishtlist Action'
    description: 'Provide remove from wishlist form submission. Access: OWN'
    tags:
      - 'M06: Wishlist'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing wishlist form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from wishlist. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed removal from wishlist. Redirect to user profile.'
                value: '/users/{id}'

 /admin/order:
  get:
    operationId: R701
    summary: 'R701: View users orders'
    description: 'Show orders. Access: ADM'
    tags:
      - 'M07: Order'
    responses:
      '200':
        description: 'Ok. Show Orders UI'
 /admin/orders/{id}:
  get:
    operationId: R702
    summary: 'R702: View specific order'
    description: 'Show order. Access: ADM'
    tags:
      - 'M07: Order'
    responses:
      '200':
        description: 'Ok. Show Order UI'
  post:
    operationId: R703
    summary: 'R703: Change status  of order'
    description: 'Change status of order. Access: ADM'
    tags:
      - 'M07: Order'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              orderid:
                type: integer
              status:
                type: string

            required:
                            - orderid
                            - status

    responses:
      '302':
        description: 'Redirect after processing request.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful change. Redirect to general reviews.'
                value: '/admin-pages/orders'
              302Failure:
                description: 'Failed change.  Redirect to general reviews.'
                value: '/admin-pages/orders'



 /reports:
  get:
    operationId: R801
    summary: 'R801: Show list of reports'
    description: 'Shows the list of reports to the admin. Access: ADMIN'
    tags:
      - 'M08: Report'
    responses:
      '200':
       description: 'Ok. Show report UI'


 /reports/{id}:
  get:
    operationId: R802
    summary: 'R802: Show report'
    description: 'Shows the report to the user'
    tags:
      - 'M08: Report'
    responses:
      '200':
       description: 'Ok. Show report UI'

 /reports/add:
  post:
    operationId: R803
    summary: 'R803: Create report'
    description: 'R903: Create report form submission. Access: USR'
    tags:
      - 'M08: Report'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              description:
                type: string
              isHandled:
                type: boolean
            required:
                            - description

    responses:
      '302':
        description: 'Redirect after processing report form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful creation of report. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed to create report. Redirect to user profile.'
                value: '/users/{id}'

 /reports/{id}/update:
  post:
    operationId: R804
    summary: 'R804: Update report'
    description: 'Update report. Access: USR'
    tags:
      - 'M08: Report'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              description:
                type: string
              isHandled:
                type: boolean
            required:
                            - description

    responses:
      '302':
        description: 'Redirect after processing report form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful update of report. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed to update report. Redirect to user profile.'
                value: '/users/{id}'



 /about:
  get:
    operationId: R901
    summary: 'R901: Show about page'
    description: 'Shows the about page to the user'
    tags:
      - 'M09: Static Pages'
    responses:
      '200':
       description: 'Ok. Show about page UI'

 /contact:
  get:
    operationId: R902
    summary: 'R902: Show Contact page'
    description: 'Shows the contact page to the user'
    tags:
      - 'M09: Static Pages'
    responses:
      '200':
       description: 'Ok. Show contact page UI'

 /faq:
  get:
    operationId: R903
    summary: 'R903: Show FAQ page'
    description: 'Shows the FAQ page to the user'
    tags:
      - 'M09: Static Pages'
    responses:
      '200':
       description: 'Ok. Show FAQ page UI'

 /notification/{id}:
  get:
    operationId: R1001
    summary: 'R1001: Show notification'
    description: 'Shows the notification to the user'
    tags:
      - 'M10: Notification'
    responses:
      '200':
       description: 'Ok. Show notification UI'

 /notification/{id}/update:
  post:
    operationId: R1002
    summary: 'R1002: Read notification'
    description: 'Marks the notification as read'
    tags:
      - 'M10: Notification'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              message:
                type: string
              isRead:
                type: boolean
            required:
                            - description

    responses:
      '200':
        description: 'Notification mark as read.'
      '400':
        description: 'Error to mark notification as read'



 /home:
  get:
    operationId: R1101
    summary: 'R1101: Show Home page'
    description: 'Shows the the home page to the user'
    tags:
      - 'M11: Home'
    responses:
      '200':
       description: 'Ok. Show home page UI'

